/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable*/

/* ===== BASE STYLES ===== */

html {
  font-size: 1.125em;      /* 18px  1.125em @ 16px */
  line-height: 1.222em;    /* 22px  1.222em @ 18px */
  font-family: 'Droid Sans', sans-serif;
  /* margin-right: 0; */
  /* background-color: #acccf1; */
  /* color: #486586; */
}

#header-picture img{
  margin-bottom: 6px;
  width: 100vw;

}
#main {
  padding: 1.222em 0.611em;  /* 22px 1.222em @ 18px, 11px 0.611em @ 18px */
}
#intro {
  padding-top: 6px;
  padding-bottom: 12px;
}
#signup h2 {
  font-size: 25.92px;
  line-height: 40px;
  padding: 6px;
}
#signup {
  padding-top: 24px;
  border-top-style: groove;
  border-top-width: 1px;
  
}
label,
input {
  display: block;
}
/* ===== LAYOUT STYLES ===== */

/* ===== MODULAR STYLES ===== */

/* ===== STATE STYLES ===== */
/* 500px 31.25em @ 16px */
@media screen and (min-width: 31.25em) {
  /* For screen width greater than 500px */
}
/* For screen width greater than 700px */
/*700px 43.75em @ 16px */
@media screen and (min-width: 43.75em) {
 
}

